<h2>Add Property</h2>

<form method="post" enctype="multipart/form-data">
    
    
    <input type="text" name="title" placeholder="Property Title" required><br><br>
    
    <select name="type" required>
        <option value="">Select Type</option>
        <option value="apartment">Apartment</option>
        <option value="house">House</option>
    </select><br><br>

    <input type="number" name="price" placeholder="Price" required><br><br>

    <input type="text" name="address" placeholder="Address" required><br><br>

    <textarea name="description" placeholder="Description"></textarea><br><br>

    <input type="text" name="mobile" placeholder="CONTACT NO" required><br><br>

    <!-- IMAGE FIELD -->
    
    <input type="file" name="image" required><br><br>
    
    <select name="deal_type" required>
        <option value="">Deal_Type</option>
        <option value="sale">Sale</option>
        <option value="rent">Rent</option>
    </select><br><br>  
    
    <button type="submit">Add Property</button>

</form>
